<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array>
    <string>fm</string>
   </array>
  <key>name</key>
  <string>fm</string>
  <key>patterns</key>
  <array>
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.fm</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>include</key>
          <string>#keyword</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#punctuations</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#numeric</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\blet\s|\bdup\s|\bcpy\s|\bget\s)</string>
          <key>name</key>
          <string>storage.type.fm</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.fm</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>string.fm</string>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.fm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(//.*$)</string>
          <key>name</key>
          <string>comment.line.double-slash.fm</string>
        </dict>
       </array>
    </dict>
    <key>keyword</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>(\bT\s)</string>
          <key>name</key>
          <string>keyword.other.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(import|open)</string>
          <key>name</key>
          <string>keyword.control.import.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\s\.=\s|\s.&lt;\s|\s.&gt;\s|\s.!\s| \.\| |\s.&amp;\s| \s\.&gt;&gt;\s | \s\.&lt;&lt;\s | \.\^ | \.\ˆ | ==)</string>
          <key>name</key>
          <string>keyword.operator.logical.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\s-\s| \+ | \* | \% | / | \^ | \ˆ )</string>
          <key>name</key>
          <string>keyword.operator.arithmetic.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\bif\s|\belse[\s\x{007c}\:]|\bthen[\s\x{007c}\:]|@\s|case)</string>
          <key>name</key>
          <string>keyword.conditional.fm</string>
        </dict>
       </array>
    </dict>
    <key>main__1</key>
    <dict>
      <key>patterns</key>
      <array>
       </array>
    </dict>
    <key>numeric</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>(\b[01]+\b)</string>
          <key>name</key>
          <string>constant.numeric.integer.binary.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^0[0-7]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.octal.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(^[\d.]+$)</string>
          <key>name</key>
          <string>constant.numeric.integer.decimal.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(0[a-z\x\x{007b}007c\x{007d}A-Z][0-9a-fA-F]+)</string>
          <key>name</key>
          <string>constant.numeric.integer.hexadecimal.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b[\x\x{007b}002b\x{007d}-]?([0-9]*[.])?[0-9]+)</string>
          <key>name</key>
          <string>constant.numeric.float.fm</string>
        </dict>
       </array>
    </dict>
    <key>punctuations</key>
    <dict>
      <key>patterns</key>
      <array>
        <dict>
          <key>match</key>
          <string>(#|~|!|\$|\.|\?)</string>
          <key>name</key>
          <string>punctuation.definition.variable.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\s+=\s+|:|=[\x{003e}]|=&gt;|-&gt;|~[\x{003e}]|,|&lt;|&gt;|;)</string>
          <key>name</key>
          <string>punctuation.fm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\[|\]|\{|\}|\(|\)|\|)</string>
          <key>name</key>
          <string>punctuation.fm</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
